{% extends "base.html.twig" %}

{% block js %}
    <script type="text/javascript" src="js/aboutUs.js"></script>
{%  endblock %}

{% block title %}SocialScore™{% endblock %}

{% block content %}

    <h1> SocialScore™ systems </h1>
    <div id="slider" class="carousel carousel-slider center">
        <div class="carousel-item red white-text" href="#one!">
            <h2>About us</h2>
            <p>We believe in better future. Future without petty behaviors and unpunished crimes</p>
        </div>
        <div class="carousel-item amber white-text" href="#two!">
            <h2>Our gaol</h2>
            <p>Basically pass our data bases course</p>
        </div>
        <div class="carousel-item green white-text" href="#three!">
            <h2>Third Panel</h2>
            <p class="white-text">This is your third panel</p>
        </div>
    </div>



{% endblock %}